*{
    padding: 0;
    margin: 0;
}
:root{
    --base-color: #000000;
    --text-color: rgb(255, 255, 255);
    --base-variant: rgb(139, 26, 49);
    --linear-variant: rgb(139, 66, 76);  
    --secondli-variant: rgb(90, 240, 255);
    --form-color: rgb(25, 50, 90);
    --form-two: rgb(0, 0, 0);
    --main-color: rgb(255, 255, 254);
    --skill-stack: rgb(25, 50, 90);
    --about-section: rgb(25, 50, 90);
    --hero-text: rgb(25, 50, 90);
    --footer-color: rgb(13, 13, 14);
    --hash-node: rgb(25, 50, 90);
    --black-pink: rgb(143, 142, 142);
    --header-boxshadow: white;
    --header-color: rgb(13, 13, 14);
    /*
    --base-color:  rgb(252, 208, 215);
    --text-color: black;
    --base-variant: rgb(221, 161, 170);
    --linear-variant: rgb(255, 192, 203);
    --secondli-variant: rgb(146, 229, 237);
    --form-color: rgb(173, 216, 230);
    --form-two: rgb(224, 166, 185);
    --main-color: black; 
    --skill-stack: rgb(221, 161, 171);
    --about-section: rgb(249, 235, 235);  
    --hero-text:  #ffc0cb; 
    --footer-color: rgb(249, 235, 235);
    --hash-node: pink;
    --black-pink: pink;
    --header-color: rgb(249, 235, 235);
    /* --header-boxshadow: rgba(0, 0, 0.6); */
}
body{
    /* background-color: rgb(252, 208, 215); */
    background-color: var(--base-color);
}
.darkmode{
    --base-color:  rgb(252, 208, 215);
    --text-color: black;
    --base-variant: rgb(221, 161, 170);
    --linear-variant: rgb(255, 192, 203);
    --secondli-variant: rgb(146, 229, 237);
    --form-color: rgb(173, 216, 230);
    --form-two: rgb(224, 166, 185);
    --main-color: black; 
    --skill-stack: rgb(221, 161, 171);
    --about-section: rgb(249, 235, 235);  
    --hero-text:  #ffc0cb; 
    --footer-color: rgb(249, 235, 235);
    --hash-node: pink;
    --black-pink: pink;
    /* --header-boxshadow: rgba(0, 0, 0.6); */
    --header-color: rgb(249, 235, 235);
    /*
    --base-color: #000000;
    --text-color: rgb(255, 255, 255);
    --base-variant: rgb(139, 26, 49);
    --linear-variant: rgb(139, 66, 76);  
    --secondli-variant: rgb(90, 240, 255);
    --form-color: rgb(25, 50, 90);
    --form-two: rgb(0, 0, 0);
    --main-color: rgb(255, 255, 254);
    --skill-stack: rgb(25, 50, 90);
    --about-section: rgb(25, 50, 90);
    --hero-text: rgb(25, 50, 90);
    --footer-color: rgb(13, 13, 14);
    --hash-node: rgb(25, 50, 90);
    --black-pink: rgb(143, 142, 142);
    --header-boxshadow: white;
    --header-color: rgb(13, 13, 14);*/
}

#theme-switch{
   /* height: 50px;
    width: 50px;*/
    padding: 0;
    border-radius: 50%;
    background-color: var(--black-pink);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 20px;
}
#theme-switch svg{
    fill: var(--primary-color);
}
#theme-switch svg:last-child{
    display: none;
}
.darkmode #theme-switch svg:first-child{
    display: none;
}
.darkmode #theme-switch svg:last-child{
    display: block;
}
header{
    padding: 40px 40px;
    /* box-shadow: 0 5px 15px var(--header-boxshadow); */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    /* background-color: rgb(249, 235, 235);  */
    background-color: var(--header-color);
    /* border-bottom: 1px solid var(--text-color); */
    border-bottom: 1px solid black;
}
nav{
    display: flex;
    place-items: center;
    gap: 350px;
    justify-content: center;
}
#nav-links ul{
    display: flex;
    gap: 40px;
    justify-content: space-between;
}
#nav-links ul li{
    list-style-type: none;
}
#nav-links ul li a{
    font-size: 14px;
    /* color: black; */
    color: var(--text-color); 
    text-decoration: none;

    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    font-style: normal;
}
#nav-links ul li a:hover{
    text-decoration: underline;
}
.nav-h h1{
    font-size: 17px;
    color: var(--text-color); 
    font-style: italic;

        font-family: "Noto Sans JP", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    
}
.nav-h h1 a{
    font-size: 17px;
    font-style: italic;
    text-decoration: none;
    color: var(--text-color);
    /* color: black; */
}
.hero{
    padding: 80px;
    display: flex;
    gap: 50px;
    justify-content: center;
}
.hero-text{
    margin-top: 50px; 
}
.hero-text p{
    font-size: 18px;
    color: var(--text-color);
}
.hero-text-h4{
    position: relative;
    display: inline-block;
    /* padding: 15px 30px; */
    padding: 10px 20px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    transition: 0.3s;
    box-shadow: 0 0.5px 0.5px 1px rgba(255, 255, 255, 0.2),
    0 10px 20px rgba(0, 0, 0, 0.2), 0 4px 5px 0px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    border: none;
    background-color: transparent;
}
.hero-text-h4::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - -2px);
    /* background-color: #ffc0cb; */
    background-color: var(--hero-text);
    transition: 0.3s ease-out;
    transform: scaleY(1);
}
.hero-text-h4::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 50px);
    background-color: #212121;
    transition: 0.3s ease-out;
    transform: scaleY(1);
}
.hero-text-h4:hover::before {
    transform: translateY(-25px);
    height: 0;
}  
.hero-text-h4:hover::after {
    transform: scaleX(0);
    transition-delay: 0.15s;
}
.hero-text-h4:hover {
    border: 2px solid #fefefe;
}  
.hero-text-h4 h5{
    text-decoration: none;
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 3;
}
#web-dev-img{
    width: 200px;
}
.hero-two{
    gap: 20px;
    display: flex;
    background-color: rgb(228, 221, 222);
}
.hero-twoo {
    display: flex;
    gap: 30px;
    margin: 30px;
}
.hero-twoo img{
    width: 280px;
}
.hero-imgone{
    /* border-radius: 50%; */
    background-size: cover;
  background-position: center;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );/*
    clip-path: polygon(
        /* 50% 0%, 
        70% 20%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
      );*/
}
/*.hero-two img{
    width: 250px;
}*/
.hero-btns{
    display: flex;
    gap: 25px;
    margin-top: 10px;
}
.hero-btns button{
    width: 170px;
    height: 42px;
    border: 1px solid #2c0404;
    background-color: var(--skill-stack);
    color: #2c0404;
    border-radius: 14px;
    transition: 0.5;
}
.hero-btns button:hover{
    /* background-color: #dda1aa; */
    background-color: var(--form-color);
    border: 1px solid white;
    color: var(--text-color);;
}
#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
#about h4{
    font-size: 30px;
    padding: 30px;
    text-align: center;

   /* font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;*/

    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    font-style: normal;
}
.about{
    display: flex;
    gap: 50px;
}
.about-text{
    width: 870px;
    display: grid;
    place-items: center;
    /* background-color: #ffe0f0; */
     /* background-color: rgb(249, 235, 235);  */
    background-color: var(--about-section);
}
.first-section{
    padding: 50px;
    width: 400px;
    height: 254px;
    border-radius: 20px;
    padding: 5px;
    border: 2px solid black;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg, var(--base-variant), var(--linear-variant) 50%, rgb(146, 229, 237));
    margin-bottom: 60px;
}
.first-section p{
   /* font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;*/

    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
}
.first-section h1{
    font-family: "Noto Sans JP", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
     color:   var(--text-color);
}
#first-section-a{
    margin-top: 50px;
    margin-left: 270px;
    padding: 33px;
}
#first-section-b{
    margin-right: 270px;
    padding: 49px;
}
#first-section-c{
    margin-left: 270px;
    padding: 35px;
}
.first-sectionn{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card__content {
    background: rgb(5, 6, 45);
    border-radius: 17px;
    width: 100%;
    height: 100%;
  }
#projects{
    /* display: flex; */
    gap: 40px;
    /* flex-direction: row; */
    padding-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    color: var(--text-color);
}
#projects{
    text-align: center;
    padding: 40px;
}
.projects{
    display: flex;
    gap: 20px;
    place-items: center;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}
.form {
    width: 300px;
    height: 350px;
    /* --input-focus: #2d8cf0; */
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: beige;
    --main-color: black;
    padding: 20px;
    background: var(--form-color); 
    /* background-color: rgb(221, 161, 171); */
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}
.formm{
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: beige;
    /* --main-color: black;  */
    padding: 20px;
    background: var(--form-two);
    border: 2px solid var(--main-color);  
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#slideshow-container{
    max-width: 1000px;
  position: relative;
  margin: auto;
  width: 250px;
}
#slideshow-containerr{
    max-width: 1000px;
    position: relative;
    margin: auto;
    width: 250px; 
}
#slideshow-containerrr{
    max-width: 1000px;
    position: relative;
    margin: auto;
    width: 250px; 

    height: 200px;

}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--text-color);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev{
    left: -3px;
}
  /* On hover, a pink see through color */
.prev:hover, .next:hover {
    background-color: rgba(248, 214, 244, 0.8);
  }
.mySlides1{
    display: none;
    object-fit: contain;
}
.mySlides2{
    display: none;
}
.mySlides3{
    text-align: center;
    display: none;
    position: absolute;
}
.fade{
    width: 190px;
    place-self: center;
}
.trying{
    width: 200px;
}
.try p a{
    color: black;
    text-decoration: none;
}
.try p a:hover{
    text-decoration: underline;
}
.try p{
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.form p a{
    color: black;
    text-decoration: none;
}
.form p a:hover{
    text-decoration: underline;
}
.form p{
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* From Uiverse.io by Shoh2008 */ 
.loader {
    width: 120px;
    height: 150px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-image: linear-gradient(#ddd 50%, #bbb 51%),
      linear-gradient(#ddd, #ddd), linear-gradient(#ddd, #ddd),
      radial-gradient(ellipse at center, #aaa 25%, #eee 26%, #eee 50%, #0000 55%),
      radial-gradient(ellipse at center, #aaa 25%, #eee 26%, #eee 50%, #0000 55%),
      radial-gradient(ellipse at center, #aaa 25%, #eee 26%, #eee 50%, #0000 55%);
    background-position: 0 20px, 45px 0, 8px 6px, 55px 3px, 75px 3px, 95px 3px;
    background-size: 100% 4px, 1px 23px, 30px 8px, 15px 15px, 15px 15px, 15px 15px;
    position: relative;
    border-radius: 6%;
    animation: shake 3s ease-in-out infinite;
    transform-origin: 60px 180px;
  }
  
  .loader:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 100%;
    width: 7px;
    height: 5px;
    background: #aaa;
    border-radius: 0 0 4px 4px;
    box-shadow: 102px 0 #aaa;
  }
  
  .loader:after {
    content: "";
    position: absolute;
    width: 95px;
    height: 95px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20px;
    background-color: #bbdefb;
    background-image: linear-gradient( to right, #0004 0%, #0004 49%, #0000 50%, #0000 100% ),
      linear-gradient(135deg, #64b5f6 50%, #607d8b 51%);
    background-size: 30px 100%, 90px 80px;
    border-radius: 50%;
    background-repeat: repeat, no-repeat;
    background-position: 0 0;
    box-sizing: border-box;
    border: 10px solid #DDD;
    box-shadow: 0 0 0 4px #999 inset, 0 0 6px 6px #0004 inset;
    animation: spin 3s ease-in-out infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg)
    }
  
    50% {
      transform: rotate(360deg)
    }
  
    75% {
      transform: rotate(750deg)
    }
  
    100% {
      transform: rotate(1800deg)
    }
  }
  
  @keyframes shake {
    65%, 80%, 88%, 96% {
      transform: rotate(0.5deg)
    }
  
    50%, 75%, 84%, 92% {
      transform: rotate(-0.5deg)
    }
  
    0%, 50%, 100% {
      transform: rotate(0)
    }
  }
#skillstack{
    gap: 40px;
    /* padding-left: 100px;  */
    margin-top: 100px;
    margin-bottom: 100px;
    width: 90%;
    max-width: 850px;
    height: 500px;
    place-self: center;
    background-color: var(--skill-stack);
    --main-color: black;
    border: 5px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}
#skillstack h2{
    text-align: center;
    margin-top: 40px; 
    /* margin-right: 140px; */
    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    color: var(--text-color);
    font-style: normal;
}
#skillstack p{
    text-align: center;
    /* margin-right: 110px; */
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
}
.skillstack{
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* margin-top: 95px; */
    /* margin-right: 140px; */
    justify-content: center;
    align-items: center;

    /* max-width: 90%; */
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
    margin: 4rem auto;
}
.skillstack-a{
    display: flex;
    gap: 4px;
}
#form{
    display: flex;
}        
footer{
    padding: 30px 40px;
    /* background-color: rgb(249, 235, 235); */
    background-color: var(--footer-color);
}
#footer-icons{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#footer-icons h4, p{
    margin-top: 20px;
    font-family: "Patrick Hand SC", cursive;
    color: var(--text-color);
    font-weight: 400;
    font-style: normal;

}
.social-icons {
    display: flex;
    gap: 20px;
    padding: 20px;
}
.social-icon {
    font-size: 19px;
    /* padding: 12px; */
    border-radius: 50%;
    /* color: black;  */
    /* background-color: #333; */
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.social-icon:hover {
    background-color: #1da1f2; /* Default hover (can be overridden below) */
}

.x:hover {
    background-color: #000000;
}

.instagram:hover {
    background-color: #e1306c;
}

.hashnode:hover {
    background-color: var(--hash-node);
}
.fab{
    color: var(--text-color);
    /* color: rgb(22, 21, 21); */
}
.fab:hover{
    color: pink;
}
.footer-p{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-p a{
    color: var(--text-color);
    /* color: black; */
    text-decoration: none;
    transition: 0.3 ease;
}
.footer-p a:hover{
    color: rgb(221, 161, 171);
    text-decoration: underline;
}

/* From Uiverse.io by mrpumps31232 */ 
.loading-wave {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .loading-bar {
    width: 20px;
    height: 10px;
    margin: 0 5px;
    background-color: #ffc0cb;
    border-radius: 5px;
    animation: loading-wave-animation 1s ease-in-out infinite;
  }
  
  .loading-bar:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .loading-bar:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  .loading-bar:nth-child(4) {
    animation-delay: 0.3s;
  }
  
  @keyframes loading-wave-animation {
    0% {
      height: 10px;
    }
  
    50% {
      height: 50px;
    }
  
    100% {
      height: 10px;
    }
  }


  .hamburger{
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    /* background-color: var(--text-color); */
}
.hamburger svg{
    background-color: pink;
}
@media (max-width: 480px) {
    body{
        max-width: 480px;
    }
    header {
        padding: 20px 10px;
    }
    nav{
        gap: 200px;
         /* gap: 250px;  */
    }
    .nav-h h1 a{
        font-size: 0.8rem;
    }
    #aboutt{
        display: none;
    }
    .xx{
        display: none;
    }
    .xx{
        display: none;
    }
    .w48{
        display: none;
    }
    .hero{
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #web-dev-img{
        display: block;
        /* width: 100%; */
        /* width: 20px; */
    }
    .hero-text p{
        font-size: 13px;
    }
    .hero-btns{
        gap: 10px;
    }
    .hero-btns button{
        height: 27px;
        width: 100px;
        font-size: 10px;
    }
    #about{
        /* margin-top: 30px; */
        display: none; 
    }
    #about h4{
        font-size: 23px;
        padding: 10px;
    }
    .about {
        gap: 20px;
    }
    .about-text{
        max-width: 420px;
    }
    .first-section{
        max-width: 400px;
        height: 200px;
    }
    #first-section-a{
       /* margin: none;
        padding: 1px;
        width: 300px;*/

        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
        width: 90%;
        box-sizing: border-box;
    }
    #first-section-b{
        margin-right: none;
        padding: 20px; 
        width: 300px;
    }
    #first-section-b h1{
        font-size: 20px;
    }
    #first-section-b p{
        font-size: 10px;
    }
    #first-section-c{
        margin-left: none;
        padding: 10px;
        width: 300px;
    }
    #first-section-c h1{
        font-size: 20px;
    }
    .first-sectionn{
        flex-direction: row;
    }
    .first-sectionn p{
        font-size: 10px;
    }
    footer{
        display: block;
        /* padding: 5px 5px; */
    }
    #footer-icons{
        gap: 2px;
    }
    #footer-icons h4, p{
        font-size: 10px;
        /* margin-top: 5px; */
    }
    .social-icons{
        font-size: 5px;
    }
} 


@media (max-width: 768px) {
    header {
        padding: 30px 20px;
    }
    #nav-links{
        display: none;
        flex-direction: row;
        position: absolute;
        top: 70px;
        background-color: rgb(224, 166, 185);
        right: 20px;
        width: 200px;
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    #nav-links ul{
        flex-direction: column;
    }
    #nav-links ul li{
        flex-direction: column;
    }
    #nav-links.show{
        display: flex;
    }
    .hamburger{
        display: block;
    }
    #about{
        display: none;
    }
}
@media (min-width: 711px) and (max-width: 783px) {
    nav{
        gap: 280px;
    }
    #about{
        display: none;
    }
}
@media (min-width: 784px) and (max-width: 796px) {
    nav{
        gap: 140px;
    }
    #about{
        display: none;
    }
}

@media (min-width: 797px) and (max-width: 848px){
    #about{
        display: none;
    }
}